<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="connectionString" value = "Data Source=LAPTOP-P7NSR1KB\SQLEXPRESS;Initial Catalog=LaboratorBD;Integrated Security=true" />
		<add key="parentTable" value ="Wohnblock"/>
		<add key="childTable" value ="Wohnungen"/>
	</appSettings>
</configuration>